<a href="https://colab.research.google.com/github/nurefsanoztekin/data_k/blob/main/OBEZ%C4%B0TE_4_HAFTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
sns.set()

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
features = ["LgALT", "rs3826795", "obesity_status", "age_range", "DNA_methylation"]

MHR = pd.read_csv("https://raw.githubusercontent.com/nurefsanoztekin/data_k/main/OBEZ%C4%B0TE-DATA.csv", names= features, header=0)
MHR.sample(10)

      LgALT  rs3826795  obesity_status age_range  DNA_methylation
347    1.17        1.0               1       7~9              NaN
765    1.26        NaN               2     10~12              NaN
1600   1.20        1.0               1     13~15              NaN
1011   0.49        1.0               1     13~15              NaN
872    0.73        0.0               1     13~15              NaN
639    1.28        0.0               1     10~12              NaN
748    1.23        2.0               1     10~12              NaN
1117   1.34        1.0               1     13~15              NaN
1192   1.44        1.0               2     13~15              NaN
1942   1.25        1.0               1     16~18              NaN

In [3]:
print("SatÄ±r:", MHR.shape[0], '\t', "SÃ¼tun:", MHR.shape[1])

print("\n")
print("\t")

print(MHR.columns)

SatÄ±r: 2030 	 SÃ¼tun: 5



Index(['LgALT', 'rs3826795', 'obesity_status', 'age_range', 'DNA_methylation'], dtype='object')

In [4]:
MHR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LgALT            2004 non-null   float64
 1   rs3826795        1988 non-null   float64
 2   obesity_status   2030 non-null   int64
 3   age_range        2030 non-null   object
 4   DNA_methylation  209 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 79.4+ KB

In [5]:
MHR.sample(13)

      LgALT  rs3826795  obesity_status age_range  DNA_methylation
1763   1.04        2.0               1     13~15              NaN
2      1.88        1.0               2       7~9             0.71
2018   0.90        2.0               1     16~18              NaN
190    0.99        2.0               1     13~15             0.35
758    1.20        2.0               2     10~12              NaN
282    1.04        2.0               1       7~9              NaN
1913   0.78        1.0               1     16~18              NaN
1581   1.15        1.0               1     13~15              NaN
1499   0.90        1.0               1     13~15              NaN
253    1.12        1.0               1       7~9              NaN
381    1.06        2.0               1       7~9              NaN
1313   1.49        2.0               2     13~15              NaN
662    0.88        1.0               1     10~12              NaN

In [6]:
MHR[["LgALT", "age_range"]]

      LgALT age_range
0      1.63       7~9
1      1.27       7~9
2      1.88       7~9
3      0.75     10~12
4      0.76       7~9
...     ...       ...
2025   1.30     16~18
2026   1.32     16~18
2027   1.46     16~18
2028   1.04     16~18
2029   0.73     16~18

[2030 rows x 2 columns]

In [13]:
MHR["obesity_status"].value_counts()

1    1325
2     705
Name: obesity_status, dtype: int64

In [14]:
MHR = MHR.replace({"obesity_status": {"low risk": 0, "mid risk": 1, "high risk":2}})
MHR.sample(7)

      LgALT  rs3826795  obesity_status age_range  DNA_methylation
961    1.04        0.0               2     13~15              NaN
1883   0.91        0.0               1     16~18              NaN
1603   1.20        1.0               1     13~15              NaN
1549   1.08        1.0               1     13~15              NaN
1673   1.15        1.0               2     13~15              NaN
288    1.17        2.0               2       7~9              NaN
1725   1.64        1.0               2     13~15              NaN

In [9]:
MHR.describe()

             LgALT    rs3826795  obesity_status  DNA_methylation
count  2004.000000  1988.000000     2030.000000       209.000000
mean      1.124755     0.966298        1.347291         0.470766
std       0.274023     0.709679        0.476226         0.096004
min       0.260000     0.000000        1.000000         0.240000
25%       0.950000     0.000000        1.000000         0.400000
50%       1.110000     1.000000        1.000000         0.470000
75%       1.262500     1.000000        2.000000         0.530000
max       2.030000     2.000000        2.000000         0.730000

In [15]:
MHR.describe().T

                  count      mean       std   min   25%   50%     75%   max
LgALT            2004.0  1.124755  0.274023  0.26  0.95  1.11  1.2625  2.03
rs3826795        1988.0  0.966298  0.709679  0.00  0.00  1.00  1.0000  2.00
obesity_status   2030.0  1.347291  0.476226  1.00  1.00  1.00  2.0000  2.00
DNA_methylation   209.0  0.470766  0.096004  0.24  0.40  0.47  0.5300  0.73